
		body{
			background-image:"FistFullofArt.Google.png"
		}
		p{
			font-family: arial, helvetica;
			text-align: left;
		}

		ul{
			font-family: arial, helvetica;
			text-align: left;
			background-color: lightgrey;
		}
		
		.table{
		column-span: 4;
		border:10 black;
		height: 100%;
		width: 100%;
		vertical-align: text-top;
		text-align: left;
		padding: 25px;
		}

		h1{
			
			background-color: black;
			background-size: 200%;
			color: white;
			font-family: arial;
		}
		
		h2{
			background-color: lightgrey;
			font-family: arial;
			text-align: center;
			border size: 100%;
		}
		
		h3{
			color:red;
			font-family: arial;
		}
