


p,h2{
	font-family: 'Ubuntu', arial, sans-serif;
	padding: 10px;
	color: rgb(256,256,256);
}

ul{
	font-family: 'Black Ops One', arial, sans-serif;
	background-color: rgb(0,0,0);
	color: rgb(256,256,256);
	margin-top: 0px;
	list-style-type: none;
}

li a:hover {
	background-color: (256,0,0);
	color: rgb(256,256,256);
}

h1{
	font-size: 60px;
	font-family: 'Black Ops One', arial, sans-serif;
	font-kerning: 3px;
	font-weight: bold;
	color: rgb(256,256,256);
}
h3{
	font-family: 'Black Ops One', arial, sans-serif;
	color: rgb(256,256,256);
	letter-spacing: 2px;
	background-color: rgb(256,0,0);
	padding: 20px;
}
h3 .capitalize{
	text-transform: capitalize;
}

.header{
	background-image: url("../images/banner.png");
	background-size: 100%;
	display: flex;
	flex:1;
	flex-direction: column-reverse;
	margin-bottom: 10px;
	
}

.layout{
	display:flex;
	flex-direction: row;
	margin-top: 10px;
	margin-right: 0px;
}

.popwindow{
	display: flex;
	
}
.profile{
	width: 500px;
	height: 5px;
}

.profile img{
	max-width: 500px;


}

#nav{
	column-width: 200px;
	padding-top: 25px;
	margin-right: 10px;
	margin-top: 10px;
	font-family: arial, bold;
	font-size: large;
	background-color: rgb(0,0,0);
	color: rgb(256,256,256);
	order: 1;
}

#navtop{
	display: flex;
	padding-right: 10px;
	padding-left: 10px;
	justify-content: space-between;
	margin: 10px;
	
	color: rgb(256,256,256);
}

#topbutton{
	background-color: rgb(256,256,256);
	padding-right: 5px;
	padding-left: 5px;
	font-family: 'Black Ops One', arial, sans-serif;
	font-size: large;
}

a:link {
	text-decoration: none;
}

#topbutton a:hover {
	background-color: (256,0,0);
	color: rgb(256,0,0);
}


#main{
	flex:3;
	order:2;
	padding: 0px;
	margin-top: 10px;
	margin-left: 10px;
	color: (256,256,256);
	background-color: rgb(0,0,0);
}

#mainwrite{
	flex:3;
	order:2;
	margin-left:10px;
	margin-top: 10px;
	background-color: rgb(0,0,0);
	color: rgb(256,256,256);
}

	
.charbox{
	display:flex;
	background-color: rgb(0,0,0);
	flex-direction: row;
}

.charimage{
	padding: 10px;
	margin-right: 25px;
	flex:1;
}


.charimage img{
	max-width: 350px;
	height:auto;
}

.chartext{
	font-family: 'Ubuntu', arial, sans-serif;
	text-align: justify;
	color: rgb(256,256,256);
	padding: 10px;
	flex:2;
}

