


p,h2{
	font-family: 'Ubuntu', arial, sans-serif;
	padding: 10px;
	color: rgb(256,256,256);
}

ul{
	font-family: 'Black Ops One', arial, sans-serif;
	background-color: rgb(0,0,0);
	color: rgb(256,256,256);
	margin-top: 0px}

h1{
	font-size: 60px;
	font-family: 'Black Ops One', arial, sans-serif;
	font-kerning: 3px;
	font-weight: bold;
	color: rgb(256,256,256);
}
h3{
	font-family: 'Black Ops One', arial, sans-serif;
	color: rgb(256,256,256);
	font-kerning: 3px;
	background-color: rgb(256,0,0);
	padding: 20px;
}
.header{
	background-image: url("../images/banner.png");
	background-size: 100%;
	display: flex;
	flex:1;
	flex-direction: column-reverse;
	margin-bottom: 10px;
}

.layout{
	display:flex;
	flex-direction: row;
	margin-right: 0px;

}


#nav{
	column-width: 155px;
	padding:25px;
	font-family: arial, bold;
	font-size: x-large;
	background-color: rgb(0,0,0);
	color: rgb(256,256,256);
	order: 1;
}

#main{
	flex:3;
	order:2;
	padding: 0px;
	margin-left: 10px;
	color: (256,256,256);
	background-color: rgb(0,0,0);
}

#mainwrite{
	flex:3;
	order:2;
	margin-left:10px;
	background-color: rgb(0,0,0);
	color: rgb(256,256,256);
}

	
.charbox{
	display:flex;
	background-color: rgb(0,0,0);
	flex-direction: row;
}

.charimage{
	padding: 10px;
	margin-right: 25px;
	flex:1;
}


.charimage img{
	max-width: 350px;
	height:auto;
}

.chartext{
	font-family: 'Ubuntu', arial, sans-serif;
	text-align: justify;
	color: rgb(256,256,256);
	padding: 10px;
	flex:2;
}

